.container{
    width: 100%;
    padding: 1% 10%;
    position: relative;
    margin-bottom: 2vh;
 
}

.scrollBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
 
  border: none;
  color: black;
  padding: 0.5em 0.7em;
  cursor: pointer;
  border-radius: 50%;
  
}

.scrollBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.left {
  left: 6%;
  z-index: 9000;
}

.right {
  right: 6%;
}

.footer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer > div{
    height: 30%;

}
.socialLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.links{
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;

}

.links > a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.copyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-weight: bolder;
    color: rgb(136, 134, 134);
    text-decoration: none;
    text-align: center;
    
}

@media (max-width: 600px){
  .footer > div{
    height: 30%;
    width: 60%;
}

.links{
     display: flex;
     flex-direction: column;
    justify-content: space-between;
}

}


